.cont {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: left;
}

.iner-conts {
  background-color: rgb(200, 200, 200);
  margin-right: 10em;
}

.title {
  font-weight: bold;
}

.par {
  font-size: 1.3rem;
}

.span {
  color: aqua;
}