<div class="cont">
  <div class="iner-conts">
    <h1 class="title">Lorem <span class="span">{{ title }}</span></h1>
    <p class="par">aaaaaaaaa = Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quas nisi alias omnis
      corrupti eaque repellat voluptas rem cupiditate iusto? </p>
    <button (click)="clickHandle()"></button>
  </div>


  <div class="iner-conts">
    <h1 class="title">Lorem ipsum <span class="span">{{ title }}</span></h1>
    <p class="par">lllllll = orem ipsum dolor sit amet consectetur, adipisicing elit. Laborum rem magnam cum cupiditate
      fugiat,
      nulla vero eius voluptatibus itaque totam ad ipsa corrupti est delectus dignissimos, culpa ipsum esse aliquid
      modi, pariatur provident iure! Maiores, explicabo alias eos harum ipsa repudiandae soluta? Nam sed quam fugit,
      eaque minima blanditiis quasi?
    </p>
    <button (click)="clickHandle()"></button>
  </div>


  <div class="iner-conts">
    <h1 class="title">Lorem ipsum dolor <span class="span">{{ title }}</span></h1>
    <p class="par">ddddd = Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quas nisi alias omnis
      corrupti eaque repellat voluptas rem cupiditate iusto? </p>
    <button (click)="clickHandle()"></button>
  </div>
</div>