<div class='ekart--product--container'>
  <!-- <img width="150px" [src]="product.pImage">
  <p>name: {{ product.name }}</p>
  <p>price: {{ product.price }}</p>
  <p>color: {{ product.color }}</p>
  <p>discount: {{ getDiscount().toFixed(2) }}</p>
  <p>
    {{product.inStock > 0 ? 'Only ' + product.inStock + " items left" : 'not In tock'}}
  </p>
  <button (click)="decrementCart()">-</button>
  <span>{{ addToCart }}</span>
  <button (click)="incrementCart()">+</button> -->
  <!-- <input (input)='onNameChange($event)' [attr.aria-hidden]=''>
  <br>
  <p>{{ name }}</p> -->
  <app-search></app-search>
  <!-- <div *ngFor='let item of qlistOfString'>
    <p>Current el is: {{ item }}</p>
  </div> -->
  <product-list></product-list>
</div>