<div class="cont">
  <div class="iner-conts">
    <h1 class="title">Lorem {{ title }}</h1>
    <p class="par">aaaaaaaaaLorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quas nisi alias omnis
      corrupti eaque
      repellat
      voluptas rem cupiditate iusto? </p>
  </div>

  <div class="iner-conts">
    <h1 class="title">Lorem ipsum {{ title }}</h1>
    <p class="par">ssssssssssssssLorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quas nisi alias
      omnis
      corrupti
      eaque repellat
      voluptas rem cupiditate iusto? </p>
  </div>

  <div class="iner-conts">
    <h1 class="title">Lorem ipsum dolor {{ title }}</h1>
    <p class="par">ddddddddddddLorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore quas nisi alias omnis
      corrupti
      eaque repellat
      voluptas rem cupiditate iusto? </p>
  </div>
</div>